*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Top Navbar */
nav{
    background-color: aqua;
    position: fixed;
    top: 0;
    width: 100%;
}
.container-nav{
    display: flex;
    justify-content: space-between;
}

nav .container-nav > *{
    border: 1px dashed black;
    padding: 12px;
}

.link-nav{
    display: flex;
}

.link-nav > *{
    border: 1px dashed black;
}

.link-nav.sx{
    gap: 20px;
}

.link-nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.link-nav img{
    display: block;
}
/* Fine top navbar */


/* Header */

header{
    background-color: rgb(201, 219, 46);
    margin-top: 64px;
    margin-bottom: 100px;
}

header .container-head > *{
    border: 1px dashed black;
}

.container-head{
    max-width: 1200px;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
}

.container-head h1{
    height: 35%;
    font-size: 70px;
    padding: 48px;
}

.container-inside{
    display: flex;
    height: 65%;
}

.container-inside > *{
    border: 1px dashed black;
}

.container-inside .prova{
    flex-grow: 1;
}

.container-inside .immagine{
    flex-grow: 2;
}

/* Fine Header */