*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* Top Navbar */
.top{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px;
}
.container-nav{
    display: flex;
    justify-content: space-between;
}

nav .container-nav > *{
    /* border: 1px dashed black; */
    /* test */
}

.link-nav{
    display: flex;
    padding: 12px;
}

.link-nav > *{
    /* border: 1px dashed black; */
    /* test */
}

.link-nav.sx{
    gap: 20px;
}

.link-nav.dx{
    gap: 20px;
}

.link-nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.link-nav img{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

.bottone{
    background-color: #0061FF;
    padding: 10px 16px;
    text-align: center;
    color: white;
}


/* Fine top navbar */


/* Header */

header{
    background-color: #B4D0E7;
    margin-top: 50px;
    margin-bottom: 100px;
}

header .container-big > *{
    border: 1px dashed black;
    /* text */
}

.container-big{
    max-width: 1200px;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
}

.container-big h1{
    font-size: 5em;
    font-weight: bold;
    padding: 48px 22px;
}

.container-inside{
    display: flex;
    height: 65%;
}

.container-inside > *{
    /* border: 1px dashed black; */
    /* test */
}

.container-inside .prova{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 35%;
    padding: 22px;
}

.container-inside .immagine{
    max-width: 65%;
}

.container-inside .immagine img{
    width: 110%;
    height: auto;
}

.prova i{
    font-size: 2.5em;
}

/* Fine Header */


/* Main */

main{
    /* background-color: coral; */
    /* test */
}

main .container-main > * {
    /* border: 1px dashed black; */
    /* test */
}



/* prima sezione  del main */
main .container-main .prima-sec{
    margin-bottom: 24px;
}

.prima-sec h2{
    padding: 48px 0;
    font-size: 2.5em;
}

.prima-sec .checkbox{
    display: flex;
    gap: 64px;
    padding-bottom: 48px;
}


.container-main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.prima-sec .piani{
    display: flex;
    justify-content: space-between;
    width: 100%;    
}

.piani .piano{
    width: 30%;
    border: 3pX solid #EBEBEC;
}

.piani .piano .piano-head{
    padding: 8px;
    border-bottom: 3px solid #EBEBEC;
    text-align: center;
}

.piani .piano .piano-main{
    padding: 36px 28px;
}

.piano-main h3{
    font-size: 2em;
    padding-bottom: 20px;
}

.piano-main strong{
    display: block;
    font-size: 1.2em;
    margin-bottom: 12px;
}

.piano-main .cadenza{
    color: grey;
    margin-bottom: 52px;
}

.piano-main .feature{
    display: flex;
    gap: 5px;
    padding-bottom: 20px;
}

.piano-main .bottone{
    margin-top: 32px;
}

.bottone a{
    color: white;
}

.piano-main .acquisto{
    padding-top: 38px;
}

.piano-main .acquisto a{
    color: #575cee;
    text-decoration: underline;
}

.piano-main hr{
    color: grey;
    margin: 40px 0;
    width: 20%;
}

.piano-main .vantaggio{
    display: flex;
    gap: 5px;
    padding-bottom: 20px;
}
/* fine prima sezione del main */


/* seconda sezione del main */
.seconda-sec{
    margin: 24px  0;
    border: 3px solid #EBEBEC;
}

.seconda-sec .seoconda-sec-head{
    padding: 8px;
    border-bottom: 3px solid #EBEBEC;
    text-align: center;
}

.seconda-sec .seconda-sec-main{
    padding: 0 38px 30px;
}

.seconda-sec-main .sec-top{
    display: flex;
    justify-content: space-between;
    padding: 36px 0 18px;
}

.sec-top h3{
    font-size: 2em;
}

.sec-top strong{
    font-size: 1.2em;
}

.seconda-sec-main .sec-mid{
    padding-bottom: 52px;
}
/* fine seconda sezione del main */


/* terza sezione del main */
.container-main .terza-sec{
    display: flex;
    margin: 125px 0px 150px;
}

.terza-sec .colonna-big{
    width: 60%;
}

.colonna-big img{
    width: 100%;
}

.terza-sec .colonna-sml{
    width: 40%;
    padding: 60px 50px;
}

.colonna-sml h3{
    font-size: 2em;
    margin-bottom: 20px;
}

.colonna-sml p{
    margin-bottom: 42px;
}

.colonna-sml .bottone2{
    background-color: white;
    padding: 10px 16px;
    text-align: center;
    color: black;
    border: 2px solid black;
}
/* fine terza sezione del main */


/* quarta sexione del main */
.container-main .quarta-sec{

}

.quarta-sec h2{
    font-size: 2.5em;
    margin-bottom: 32px;
}

.quarta-sec .container-operazioni{
    display: flex;
    flex-wrap: wrap;
}

.container-operazioni .operazioni{
    width: calc(100% / 3);
    padding: 25px;
}

.container-operazioni .operazioni:nth-of-type(3n + 1){
    padding-left: 0;
}

.container-operazioni .operazioni:nth-of-type(3n){
    padding-right: 0;
}

.operazioni .oprz-img img{
    width: 100%;
}

.operazioni .oprz-nome h3{
    font-size: 1.5em;
    margin-bottom: 34px;
}
/* fine quarta sezione del main */


/* quinta sezione del main */
.container-main .quinta-sec{
    margin-top: 190px;
}

.quinta-sec h2{
    font-size: 2.5em;
    margin-bottom: 64px;
}

.quinta-sec a{
    color: #575cee;
    text-decoration: underline;
}
/* fine quinta section del main */


/* fine main */

/* main-section */
.section-aziende{
    display: flex;
    margin-top: 150px;
}

.section-aziende > div{
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.section-aziende .loghi-aziende{
    display: flex;
    flex-wrap: wrap;
}

.loghi-aziende .azienda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    aspect-ratio: 1/1;
    padding: 70px;
}

.azienda img{
    filter: invert(1);
    width: 100%;
}

#azienda1{
    background-color: #A2D39B;
}
#azienda2{
    background-color: #61082B;
}
#azienda3{
    background-color: #0093CE;
}
#azienda4{
    background-color: #FF1C1C;
}
#azienda5{
    background-color: #D5001F;
}
#azienda6{
    background-color: #B4D0E7;
}
#azienda7{
    background-color: #0D2481;
}
#azienda8{
    background-color: #FFD830;
}

.section-aziende .azienda-cap{
    background-color: #F5F5F5;
    padding: 48px;
}

.azienda-cap img{
    width: 50%;
}

.azienda-cap hr{
    color: grey;
    width: 25%;
    margin: 42px 0;
}

.azienda-cap p{
    margin-bottom: 50px;
}
/* fine section-aziende */


/* sezione business-azienda */
.business-azienda{
    background-color: #B4D0E7;
}

.business-azienda .container-main{
    display: flex;
    justify-content: space-between;
    padding: 140px 0;
}

.business-azienda h2{
    width: 50%;
    font-size: 2.5em;
    color: #61082B;
}

.business-azienda .bottone3{
    background-color: white;
    padding: 10px 16px;
    text-align: center;
    color: black;
}

.business-azienda .container-main .partner{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* fine sezione business azienda */


/* sezione domande frequenti */
.domande .container-main{
    padding: 150px 0;
}

.domande h2{
    font-size: 2.5em;
    margin-bottom: 60px;
}

.domande .container-main .domanda{
    display: flex;
    justify-content: space-between;
    padding: 42px 0;
    border-top: 2px solid #EBEBEC;
    border-bottom: 2px solid #EBEBEC;
}
/* fine domanfe frequenti */


/* bottom navbar */
.bottom{
    background-color: black;
    color: white;
}

.bottom .container-big2{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-link{
    display: flex;
    justify-content: space-between;
}

.container-link .link{
    width: calc(100% / 5 - 100 * 4);
    padding: 116px 0;
}

.container-link .link h3{
    font-size: 2em;
    padding-bottom: 32px;
}

.container-link .link ul{
    list-style: none;
    text-decoration: none;
}
.link ul li{
    padding-bottom: 16px;
}
.link ul a{
    color: white;
}

.container-big2 hr{
    color: white;
    width: 10%;
}

.container-big2 .lingua{
    display: flex;
    gap: 10px;
    padding: 50px 0;
}
/* fine bottom navbar */